<!DOCTYPE html>
<html lang="en">
<head>
    <title>Random Dog</title>
</head>
    <body style="background-image: linear-gradient(to right, rgb(58, 6, 132) ,rgb(52, 74, 247));">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <a 
            href="/"
            style=
                "
                font-weight: bold;
                margin: 20px;
                text-decoration: none;
                font-size: 45px; 
                font-family:'Courier New', Courier, monospace; 
                color: rgb(255, 255, 255);
                text-shadow: 2px 4px 7px rgb(0, 0, 0);
                "
            >Random Dog!!</a>
            <div >
                <img
                style=
                    "
                    object-fit: fill; width: 650px; 
                    height: 650px; background-color:rgb(20, 20, 70);
                    border-radius: 15px;
                    box-shadow: 20px 10px 20px 3px rgba(1, 11, 80, 0.59);
                    "
                src="{{ url }}" 
                >
            </div>
        </div>
    </body>
</html>