<!DOCTYPE html>
<html lang="en">
<head>
    <title>Random Dog</title>
</head>
    <body style="background-image: linear-gradient(to right, rgb(58, 6, 132) ,rgb(52, 74, 247));">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <a 
            href="/"
            style=
                "
                font-weight: bold;
                margin: 20px;
                text-decoration: none;
                font-size: 5vh; 
                font-family: Georgia, serif;
                color: rgb(209, 181, 244);
                text-shadow: 5px 6px 5px rgb(35, 1, 90);
                "
            >Random Dog!!</a>
            <div >
                <img
                style=
                    "
                    object-fit: contain;
                    width: 80vw; 
                    height: 80vh;
                    background-image: linear-gradient(to right, rgb(58, 6, 132) ,rgb(52, 74, 247));
                    border-radius: 15px;
                    box-shadow: 20px 10px 20px 3px rgba(1, 11, 80, 0.59);
                    "
                src="{{ url }}" 
                >
            </div>
        </div>
    </body>
</html>